.no-results {
    h2 {
        font-size: 30px;
    }
    
    p {
        margin-top: 10px;
        font-size: 14px;
        opacity: 0.8;
    }
}

@media screen and (max-width: 430px) {
    .no-results {
        h2 {
            margin-top: 10px;
            font-size: 22px;
        }
    }
}
