@import "./components/scss/variables.scss";

@font-face {
  font-family: "AdihausDIN";
  src: url("./fonts/AdihausDIN-Regular.woff2");
}

@font-face {
  font-family: "AdihausDIN Cn";
  src: url("./fonts/AdihausDIN-CnMediumItalic.woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "AdihausDIN";
  box-sizing: border-box;
  color: $primary-color;
}

*::selection{
  color: white;
  background-color: $primary-color;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1430px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
